<li class="sidebar-brand"><a href="javascript:void(0)">Start Bootstrap</a></li>
<li><a href="javascript:void(0)">Dashboard</a></li>
<li><a href="javascript:void(0)">Shortcuts</a></li>
<li><a href="javascript:void(0)">Overview</a></li>
<li><a href="javascript:void(0)">Events</a></li>
<li><a href="javascript:void(0)">About</a></li>
<li><a href="javascript:void(0)">Services</a></li>
<li><a href="javascript:void(0)">Contact</a></li>

